EXPO_PUBLIC_API_URL=https://x7u8a70xx0.execute-api.us-east-1.amazonaws.com/dev
EXPO_PUBLIC_DEMO_MODE=false
EXPO_PUBLIC_FIREBASE_API_KEY=replace-with-firebase-web-api-key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=troy-botc.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=troy-botc
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=troy-botc.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=471129913311
EXPO_PUBLIC_FIREBASE_APP_ID=1:471129913311:web:4c0b91c9c7bfa87550f66a
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-B0KDGH2Q14
